<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/app.css">
        <title>Symfony</title>
    </head>
     <body>
         {% block content %}{% endblock %}
    </body>   
</html>
